DATABASE_URL="postgresql://crm_user:crm_password@localhost:5432/crm_advocacia?schema=public"
NEXTAUTH_SECRET="troque-por-um-valor-aleatorio-gerado-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
AWS_ACCESS_KEY_ID="troque-pelo-access-key-do-usuario-iam"
AWS_SECRET_ACCESS_KEY="troque-pelo-secret-key-do-usuario-iam"
AWS_REGION="us-east-1"
AWS_S3_BUCKET="troque-pelo-nome-do-bucket"
AWS_S3_PREFIX="development"
